.safeEmail {
  .safeEmail-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;
    font-size: 20px;
    background: linear-gradient(to right, #f75f5b, #fead50);
    & i {
      position: absolute;
      left: 16px;
      color: #fff;
    }
    & p {
      color: #fff;
    }
    & ul {
      border: 1px solid #fff;
      display: flex;
      height: 32px;
      border-radius: 4px;
      align-items: center;
      & li {
        font-size: 16px;
        padding: 0px 14px;
        height: 32px;
        line-height: 32px;
        color: #fff;
      }
      & .router-link-exact-active.router-link-active {
        background: #fff;
        color: #dc3b40;
      }
    }
  }
  & .safeEmail-content {
    height: 100%;
    & ul {
      background: #fff;
      padding: 0px 16px;
      & li {
        display: flex;
        align-items: center;
        height: 52px;
        line-height: 52px;
        font-size: 16px;
        & p {
          width: 24%;
        }
        & input {
          width: 70%;
          height: 40px;
          border: none;
          padding: 0px 4px;
        }
      }
    }
  }
}

.safeEmail-but {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 36px;
  & button {
    padding: 0px;
    background: linear-gradient(to right, #f75f5b, #fead50);
    border: none;
    width: 86%;
    height: 36px;
    border-radius: 6px;
    font-size: 16px;
    color: #fff !important;
  }
}

.yd-btn-primary {
  color: #fff !important;
}

.yd-btn-block {
  font-size: 14px;
  margin: 0;
  height: 40px;
  line-height: 40px;
  width: 140px;
  background: linear-gradient(to right, #f75f5b, #fead50);
  color: #000;
  border: 1px solid linear-gradient(to right, #f75f5b, #fead50);
}

.yd-btn-disabled {
  background: #ccc;
}

.el-input {
  height: 40px;
  border: none;
}

.van-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  background: linear-gradient(to right, #f75f5b, #fead50);
}

