
.pop2.van-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 14px;
    border-radius: 6px;
    max-width: 400px;
    min-width: 180px;
    justify-content: center;
    align-items: center;
    & div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & ul{
        width: 100%;
        border-radius: 4px;
        background: #fff;
        & li{
          display: flex;
          justify-content: center;
          flex-direction:column;
          align-items: center;
          width: 100%;
        }
        & .title{
          border-radius: 4px 4px 0 0;
          height: 30px;
          background:linear-gradient(to right, #f75f5b, #fead50);
          color:#fff;
          font-size: 14px;
        }
        & .cont{
          & .contBox{
            width: 90%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            min-height: 30px;
            & ul{
              width: 100%;
              & li{
                height: 36px;
              }
            }
          }
          
        }
        & .but{
          display: flex;
          flex-direction: row;
          & button{
            height: 30px;
            width: 50%;
            border:none;
            background: #fff;
            border-top:1px solid #eee;
            font-size: 14px;
          }
          & button:nth-child(1){
            color:#dc3b40;
          }
        }
      }
    }
    
  }